gameFolder/Library/
gameFolder/Logs/
gameFolder/UserSettings/Layouts/
gameFolder/Logs/AssetImportWorker0.log
gameFolder/Logs/AssetImportWorker1.log
gameFolder/Logs/shadercompiler-UnityShaderCompiler.exe0.log
gameFolder/UserSettings/Layouts/default-2021.dwlt
